body {
    background: #1B1B1E;
    color: #FAA916;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
        

header, footer {
    background: #FBFFFE;
    color: #393639;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;  
}

.logo{
    height: 100px;
}


nav a {
    color: #FAA916;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    
}

nav a:hover {
    color: #96031A;
}


h1, h2, h3 ,p{
        font-family: Arial, sans-serif;

}

h1{
    padding: 30px;
    color: #FAA916;
}
h2{
    color: #96031A;
}
h3, p{
    color: #393639;
}


.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: #FBFFFE;
    color: #393639;
    padding: 20px;
    width: 280px;
    border-radius: 12px;

    border: 1px solid transparent;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

    transition: all 0.35s ease;
    cursor: pointer;
}


.card:hover {
    transform: translateY(-12px) scale(1.04);

    box-shadow: 
        0 0 10px #96031A,
        0 0 20px #FAA916,
        0 0 40px #96031A;

    border: 1px solid #FAA916;
}

.card img {
    border-radius: 10px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 15px;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }
}