body {
    background: #1B1B1E;
    color: #FAA916;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
        

header, footer {
    background: #FBFFFE;
    color: #393639;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;  
}

.logo{
    height: 100px;
}


nav a {
    color: #96031A;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    
}

nav a:hover {
    color: #FAA916;
}


h1, h2, h3 ,p{
    font-family: Arial, sans-serif;
    line-height: 1.7;
}

h1{
    padding: 30px;
    color: #FAA916;
}
h2{
    color: #96031A;
}
h3, p{
    color: #393639;
}

.nosaukums{
    color: #96031A;

}


.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 50px;
    gap: 50px;

    background: #FBFFFE;
    margin: 100px;


    border-radius: 12px;

    text-align: center;
}

.video iframe {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 9 / 16;
    border-radius: 12px;
}

.block{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px;
    gap: 50px;

    background: #FBFFFE;
    margin: 100px;

    border-radius: 12px;

    transition: 0.1s ease;
}

.block.reverse {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    color: #393639;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    width: 100%;
    max-width: 420px;
    border-radius: 12px;

    transition: 0.4s ease;
}

.block:hover, .video:hover {
    box-shadow: 0 0 15px #96031A,
                0 0 30px #FAA916;
    transform: translateY(-5px);
}



img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 900px) {

    .video, .block {
        flex-direction: column;
        text-align: center;
        padding: 25px;
    }

    .block.reverse {
        flex-direction: column;
    }

    nav {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        height: 60px;
    }
}

/* 📱 PHONE */
@media (max-width: 500px) {

    h1 {
        font-size: 22px;
    }

    nav a {
        display: block;
        padding: 8px 0;
    }

    .video, .block {
        margin: 20px auto;
        padding: 15px;
    }

    .logo {
        height: 50px;
    }
}