{% extends "base.html" %}

{% block content %}

<div class="add-form">

    <h1>Vulkāna pievienošana</h1>

    <form method="POST" enctype="multipart/form-data">

        <input name="name" placeholder="Nosaukums" required>

        <input name="height" placeholder="Augstums (m)">
        <input name="diameter" placeholder="Diametrs (km)">

        <input name="coordinates"
               placeholder="Koordinātes">

        <input type="file" name="image">

        <label>Kontinents:</label>
        <select name="continent" required>
            {% for c in kontinenti %}
                <option value="{{ c.id }}">
                    {{ c.continent }}
                </option>
            {% endfor %}
        </select>

        <input name="country"
               placeholder="Valsts"
               required>

        <label>Vulkāna tips:</label>
        <select name="type">
            {% for t in tipi %}
                <option value="{{ t.id }}">
                    {{ t.type }}
                </option>
            {% endfor %}
        </select>

        <label>Nesenākais izvirdums:</label>
        <select name="activity">
            {% for a in aktivitate %}
                <option value="{{ a.id }}">
                    {{ a.eruption_reason }}
                </option>
            {% endfor %}
        </select>

        <input name="last_eruption"
               placeholder="Pēdējais izvirdums">

        <input name="damage"
               placeholder="Postījumi">

        <button type="submit">
            PIEVIENOT
        </button>

    </form>

</div>

{% endblock %}